#header {
    height: 50px;
    width: 100%;
    background-color: rgb(24 24 28);
    color: #fff;
    text-indent: 10px;
    box-shadow: 0px 0px 20px 0px black;
}

#header label {
    position: relative;
    top: 15px;
    color: #fff;
    text-indent: 80px;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
}

#leftnav {
    margin-top: 50px;
    position: fixed;
    background-color: rgb(24 24 28);
    width: 200px;
    height: 650px;
}

#leftnav ul {
    list-style-type: none;
    text-indent: 35px;
    right: 25px;
    position: relative;
}

#leftnav ul li {
    border-bottom: 1px solid #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 180px;
}

#leftnav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

#leftnav ul li a:hover {
    color: grey;
}

#leftnav ul li ul {
    display: none;
}

#leftnav ul li:hover ul {
    display: block;
}

#leftnav ul li:hover ul li {
    padding: 0;
    border: 0px solid #111;
}

#leftnav ul li .Active {
    color: grey;
}

#rightcontent {
    position: relative;
    width: 1025px;
    top: 50px;
    left: 220px;
    z-index: -99999;
}

.we {
    background: whitesmoke;
    width: 560px;
    margin-right: 600px;
    justify-content: center;
    display: flex;
    font-family: sans-serif;
    align: center;
}

.log1 {
    position: relative;
    width: 450px;
    height: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    border-radius: 5px;
    position: relative;
}